body {
  font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
  background-color: #6B9EFF;
  margin: 0;
  padding: 0;
  color: #000;
}

.lists ul, .lists ol {
  font-style: bold;
}

#emstrong {
  font-size: 20px;
  font-family: Monaco, Courier, sans-serif;
}

a:hover {
  background-color: black;
}

p em,strong {
  background-color: teal;
}