.links:hover{
  background-color: lightblue;
  color: grey;
}

#content {
  float: right;
}

#sidebar {
  float: left;
}

.image {
  position:relative;
}

.caption {
  font-color:white;
  text-shadow:1px 1px #FFFFFF;
  position:absolute;
}