.links:hover{
  background-color: lightblue;
  color: grey;
}

#content {
  float: right;
}

#sidebar {
  float: left;
}

.image {
  position:relative;
}

.caption {
  font-color:white;
  position:absolute;
  top:300px;
  left:100px;
}